<ion-header>
  <ion-toolbar>
    <ion-title>Appointments</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addAppointment()">
        <ion-icon name="add-outline"></ion-icon>
        Add
      </ion-button>
      <ion-button (click)="deleteSelectedAppointments()" [disabled]="!hasSelectedAppointments()">
        <ion-icon name="trash-outline"></ion-icon>
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let appointment of appointments">
      <ion-checkbox slot="start" [(ngModel)]="appointment.selected"></ion-checkbox>
      <ion-label class="appointment-label">
        <h2>ID: {{ appointment.id }}</h2>
        <h3>Name: {{ appointment.name }}</h3>
        <p>Description: {{ appointment.description }}</p>
      </ion-label>
      <ion-avatar slot="end">
        <img src="assets/img/placeholder.png" alt="Pet Placeholder">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
